@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: var(--background-color);
    color: var(--text-color);
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: var(--accent-color);
    padding: 1%;
    align-items: center;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}


.header a {
    color: var(--text-color);
    text-decoration: none;

}

.header a:hover {
    color: var(--link-hover);
    text-shadow: 0 0 30px var(--link-color);

}

#logo {
    display: flex;
    align-items: center;
}

.stats-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 30px var(--accent-color);
}

.stats-card {
    background-color: var(--card-color);
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: var(--card-color);
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px var(--accent-color);
}

#search-games {
    display: flex;
    align-items: center;
    padding: 1%;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    background-color: var(--accent-color);
    color: var(--text-color);
}

button:hover {
    background-color: var(--button-hover);
    box-shadow: var(--accent-color);
}

:root {
    --background-color: #2e2b31;
    --card-color: #49404f;
    --accent-color: #7c37b0;
    --text-color: #ffffff;
    --link-hover: #c39de2;
    --button-hover: #462162;
  }